/git_clones
/hg_clones
/gclient
/out
/torbrowser
/basebrowser
/privacybrowser
/testbuild
/rbm.local.conf
/logs
/tmp

# Old build directories, let's keep them anyway
/release
/alpha
/nightly

# This file is used to test the updater, and whoever is interested in doing so,
# should provide their file.
/projects/firefox/marsigner.der
