<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.torproject.torExpertBundle"
          android:versionCode="1"
          android:versionName="0.0.1" >

    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="false" >
    </application>

</manifest>